.app {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 0 16px 16px;
  }
  
  .toolbar {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  
  .button {
    padding: 6px 12px;
    font-size: 16px;
    color: #121212;
    background-color: #ddeaa7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .button:hover {
    background-color: #b3bb90;
  }
  